*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#EEF3F9;

font-family:Segoe UI,Arial,sans-serif;

color:#1F2937;

}

#app{

max-width:430px;

margin:auto;

min-height:100vh;

padding:20px 20px 90px;

}

.topbar{

margin-bottom:25px;

}

.topbar h1{

font-size:34px;

font-weight:700;

}

.topbar p{

color:#6B7280;

margin-top:5px;

}

.cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}

.card{

background:white;

border-radius:18px;

padding:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card h2{

font-size:15px;

color:#6B7280;

margin-bottom:12px;

}

.card h1{

font-size:34px;

}

.fab{

position:fixed;

bottom:90px;

right:25px;

width:65px;

height:65px;

border:none;

border-radius:50%;

background:#2563EB;

color:white;

font-size:34px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.bottomNav{

position:fixed;

left:0;

right:0;

bottom:0;

height:70px;

background:white;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 -5px 20px rgba(0,0,0,.08);

}

.bottomNav button{

background:none;

border:none;

font-size:28px;

cursor:pointer;

}